.DS_Store

# andrea local storage
./proyfinal/src/viki/013/andrea/andrea-localstore/

# test outputs
./proyfinal/src/viki/013/*.output

# test std outputs
./proyfinal/src/viki/013/*.txt

# stdout file
stdout.txt
